* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    padding-top: 5px;
    padding-bottom: 112px;
    width: 100vw;
    height: 63.5vh;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 461.500px;
    margin-right: 461.500px;
}

.box {

    padding-top: 20px;
    padding-bottom: 20px;
}

.leftpart {
    padding-right: 90px;
    padding-bottom: 20px;
}

.leftpart h1 {
    width: 321px;
    height: 100px;
}

.leftpart h3 {
    padding-left: 33px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    color: #1c1e21;
    font-size: 28px;
    font-weight: 100;
    padding-bottom: 20px;
}

.rightpart {
    background-color: rgb(161, 161, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 89px;
    height: 344px;
    border-radius: 10px;
    background-color: #fff;
    width: 400px;
}

.logintable {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 460px;
    width: 330px;
    box-shadow: -5px 10px 15px rgb(0, 0, 0, 0.1),
        10px 10px 15px rgb(0, 0, 0, 0.1);
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 10px;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 5px;
    padding-right: 5px;



}

input {
    margin: 0;
    padding-left: 13px;
    width: 350px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    font-size: 15px;
    color: #1c1e21;
}

.login {
    margin: 0;
    width: 364px;
    height: 50px;
    border-radius: 6px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #0866ff;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;

}

.logintable a {
    color: #0866ff;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}

hr {
    border: 1px solid #dadde1;
    width: 350px;
}

.createnewaccount {
    display: flex;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 25px;
    width: 195px;
    height: 50px;
    background-color: #42b72a;
    border-color: #42b72a;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-style: none;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.box span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.box span a {
    text-decoration: none;
    color: #1c1e21;
    font-weight: 600;
    cursor: pointer;

}

.box p {
    padding-left: 6px;
}

.foot ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #8a8d91;
}




.lang a {
    padding-right: 10px;
    text-decoration: none;
    color: #8a8d91;
}

.eng {
    padding-right: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.logo {
    height: 20px;
    width: 20px;

}

.endline li {
    list-style: none;

}

.end ul {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;

}

.footer {
    margin-left: 461.500px;
    margin-right: 461.500px;
}

.foot hr {
    border: 1px solid #dadde1;
    width: 950px;
}

.collab {
    padding-top: 10px;
}

.collab a {
    text-decoration: none;
    padding-right: 15px;
    font-size: 12px;
    color: #8a8d91;
    font-family: Helvetica, Arial, sans-serif;

}

a:hover {
    text-decoration: underline;
}

.last {
    padding-top: 20px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 100;
    font-family: Helvetica, Arial, sans-serif;
    color: #8a8d91;
}